[2015-07-10 15:39] jovo opened #1 "web server operational"

[2015-07-10 15:39] jovo opened #2 "website up"

[2015-07-10 15:39] jovo opened #3 "kasthuri11 analysis done"

[2015-07-10 15:39] jovo opened #4 "ilastik cell detection in clarity data done"

[2015-12-29 05:03] #2 closed

[2015-12-29 05:03] #1 closed

[2015-12-29 05:03] #3 closed

[2015-12-29 05:05] jovo opened #8 "Table 1A"
meta-rows: publications
rows: *image* tokens

columns:
- group name
- modality
- species
- region
(the above 3 are per *meta-row*)

- dataset name
- token
- XYZT resolution
- XYZTC num pixels
- total size
- reference

please "highlight" (not sure what that means exactly) the bock11 & kasthuri15 datasets.

i recommend writing a function that crawls and gets all projinfo.json files for each token, a

[2015-12-29 20:12] j6k4m8 commented on #8
With your clearance, I'm going to use [this](https://github.com/j6k4m8/PyTablePrinter) which I made mostly for this purpose. Abstracts away a lot of the dirty-work I've had to do to format these nicely

[2015-12-29 20:32] jovo commented on #8
that's amazeballs.

On Tue, Dec 29, 2015 at 3:12 PM, Jordan Matelsky notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
neurodata.io

[2015-12-29 22:13] j6k4m8 opened #11 "Remove `master` branch"
We only use gh-pages so we don't need `master`, and it screws up default settings for PRs

[2015-12-30 22:26] jovo commented on #8
- [x] latin species name (eg. M. musculus, C. elegans)
- [x] consistent column title naming (eg, #voxels, #channels, #timesteps)
- [x] Reference should be `[<lastname of first author> et al. <journal> (<year>)](link)`, eg "Bock et al. Nature (2011)"
  or something like that.  i made that up based on Nature's format.
- [x] freeman14 modality, not sure, what do you think? "Ophys"? "CI" for calcium i

[2015-12-30 22:33] j6k4m8 commented on #8
Agreed. Push coming up (eta 1m30s)

Do you know what the two unpopulated kasthuri tokens are called in the paper itself? (No mention of Maine, etc.) Still looking for their res

[2015-12-30 22:35] jovo commented on #8
oh, they mention 3 different _resolutions_.
maine is the one that looks like the state of Maine, i think it is the coarsest resolution.
the other is the middle resolution.

[2015-12-30 22:59] #11 closed

[2015-12-30 22:59] #4 closed

[2015-12-30 23:32] jovo opened #15 "Table 1B"
| dataset | project | token | #voxels labeled | #different types | author |
| --- | --- | --- | --- | --- | --- | --- |

let's discuss this and see how we feel.
note, i'm not sure how easy it will be to get "#voxels labeled", or # of different types

[2015-12-31 04:57] jovo opened #16 "moreover sentence isn't perfect, it doesn't quite follow"
in particular, of 3rd paragraph of introduction.

[2016-01-01 17:05] jovo commented on #8
- [x] "Dimensions" replaces #voxels, #channels, #timestesps, and is X x Y x Z x C x T
- [X](ideally, those are times, not)
- [x] add "Total (GV)" column after "Dimensions", where it is =X_Y_Z_C_T
- [x] "Resolution (nm^3; Hz)" (be consistent, semicolon or comma, in both header and each row)
- [x] kas size

do this, and we are done with this table, at least for now.

[2016-01-01 17:06] jovo opened #17 "Table 1A extended issues"
- [x] latin species name (eg. M. musculus, C. elegans)
- [x] Reference should be ```[<lastname of first author> et al. <journal> (<year>)](link)```, eg "Bock et al. Nature (2011)"  or something like that.  i made that up based on Nature's format.

[2016-01-01 20:38] #17 closed

[2016-01-06 23:18] jovo opened #18 "make synapto.me work"

[2016-01-06 23:24] jovo opened #19 "compute # of private datasets and such"
http://docs.neurodata.io/ocp-journal-paper/#par:private-data contains a bunch of claims with missing answers, denoted by `XXX`.

to get those answers, here is the [datamap](https://github.com/openconnectome/datasets/blob/master/datamap.md)

so, you'll need to crawl it, find the private ones, etc.
of course, the code you write for this cannot live in this repo,
so please keep it in the private repo

[2016-03-03 19:05] j6k4m8 commented on #8
@jovo think this is done, correct? Going to use this table's data to generate the new one, so want to confirm

[2016-03-03 19:42] j6k4m8 opened #20 "LIMS Data Entry"
These tokens have never had metadata set, but are listed as public tokens. I *guess* could sit for a few days and write these up, but it'd be awesome if whoever's point-person for each of these tokens tackled a few of them.

<sup>
- ac3
- ac4
- ara_test
- cajal_demo
- codeneurochallenge0000
- codeneurochallenge0001
- codeneurochallenge0002
- codeneurochallenge0003
- codeneurochallenge0004
- codene

[2016-03-03 20:19] jovo commented on #20
@Aeusman @kkutten1 @kunallillaney @alexbaden @willgray hack-lunch party next week?

[2016-03-09 20:51] j6k4m8 commented on #15
partially fixed by https://github.com/neurodata/weekly-status-reports/issues/28

[2016-03-09 20:51] j6k4m8 commented on #8
I think fixed by https://github.com/neurodata/weekly-status-reports/issues/28?

[2016-03-09 21:15] jovo commented on #8
yes

On Wed, Mar 9, 2016 at 3:51 PM, Jordan Matelsky notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
neurodata.io

[2016-03-10 02:28] #8 closed

[2016-03-22 20:53] MrAE opened #21 "Can someone please give me access."

[2016-03-22 20:55] #21 closed

[2016-03-23 03:02] jovo commented on #15
@j6k4m8 can you put the table into the document? it doesn't seem to be loading.
thanks, j

[2016-03-23 03:03] #19 closed

[2016-03-23 03:05] jovo opened #22 "annotation table"
a table listing all of our annotation datasets, much like https://github.com/neurodata/ocp-journal-paper/blob/gh-pages/Results/Tables/Table1/table1b_v2.md
but slightly different

@MrAE we can discuss tomorrow what i mean.
@willgray @alexbaden @j6k4m8 can you help?
is there an "easy" way to find all the "annotation" channels?

[2016-03-23 03:10] jovo opened #23 "benchmark figs"
- [x] @MrAE remake tile_read_speed figure using ggplot
- [x] @mrae put all 3 benchmark figures in paper (they are now in Results/Figures/store)
- [x] @kunallillaney add caption

[2016-03-23 03:14] jovo opened #24 "ndviz fig"
3 panel figure
All subpanels are screenshots using these web-services.

1. enables overlaying annotation layers and querying them for metadata details (eg,  http://brainviz1.cs.jhu.edu/ndv/kharris15apical/em,ramon_test/3/507/469/90/)
2. multispectral data (eg, http://brainviz1.cs.jhu.edu/ndv/project/Aratome15c_S17_W10/1/5818/527/0/), including various blending and other color operations
3. time-se

[2016-03-23 03:17] jovo opened #25 "gx & mx figs"
let's get a good screenshot of both

- gx
- mx

might require some shenanigans.
these will be subpanels in Figure 2.

[2016-03-23 03:24] jovo opened #26 "histogram correction panels"
But the tiles in 2D mosaics are at different levels so this should show Misha's stuff off nicely in 2D. E.g.:
panel a) zoomout of whole FlyPilot mosaic
panel b) zoomin on 8K to see 1 tile and its neighbors
panel c) zoomin on edge to really see the boundary
panels d-f) these 3 again, but with Misha2D

[2016-03-23 04:39] alexbaden commented on #22
All annotation channels currently on dsps:

`mysql> select project_id, channel_name, channel_description from channels where channel_type = 'ANNOTATION';`

| project_id                            | channel_name                             | channel_description           |
|---------------------------------------|------------------------------------------|-------------------------------|
| ac3

[2016-03-23 04:47] alexbaden commented on #24
There are three versions of multispectral data in NDV:
1. Current NDV Version -- brightness / contrast don't really do much, color is done via ndstore, and blending is done via css, is slow, and isn't "additive" (not what you want for multi-spectral).
2. Caman NDV -- blends the loaded tile layers into a new layer using javascript. Allows us to do dynamic recoloring, replaces brightness / contrast

[2016-03-23 04:54] jovo commented on #24
sounds awesome.

[2016-03-23 04:56] jovo commented on #22
that's amazeballs.
is it easy to see which are public too?

[2016-03-23 05:01] alexbaden commented on #22
`mysql> select c.project_id, c.channel_name, c.channel_description, t.public from channels c inner join tokens t on c.project_id = t.project_id where c.channel_type = 'annotation';`

This table will tell you if the channel has a public token. Channels themselves don't have a public/private attribute.

| project_id                            | channel_name                             | channel_desc

[2016-03-23 13:10] jovo commented on #22
amazing!

@j6k4m8 ask @willgray if you have time to make this table with me.
if not, @MrAE we will do it.

[2016-03-23 13:17] willgray commented on #22
guys - let's not make this public -

also @jovo - i need some guidance on what *should* be public.  I often make things public in the interest of open science, but many of these are mine and are draft/dev versions of things.  So I'm fine claiming them, publishing them, whatever, but they aren't anything anyone should use really...no provenance and out of date, draft etc.

Should we make it so only

[2016-03-23 13:30] jovo commented on #22
@willgray good point! can somebody move these tables to the internal repo and delete them from here.

regarding which ones should be public, the new nomenclature is

"searchable" and "secret"
or
"public" and "secret"

so, i think searchable is the "right" answer, and only things that we want people to be able to find should be find-able.  make sense?

[2016-03-23 13:32] willgray commented on #22
maybe we should "force" users to populate the description field when making a project (I often am an offender here) for anything searchable.  Then it would be easy to make a table!!!  Might also be nice to have a way to flag things that aren't ready to be searchable but are complete (but maybe that's too complicated).  Thinking about trying to distinguish between "test run" and "pre-pub"

I can cl

[2016-03-23 13:37] jovo commented on #22
auto-ingest requires specifying.
too complicated for a 3rd level, you'll have to choose when it is ready to
be searchable.
also, searchable is at the token/project level, so cleaning up your stuff
might mean moving some channels to different projects?

On Wed, Mar 23, 2016 at 9:32 AM, William Gray <notifications@github.com>
wrote:

--
the glass is all full:  half water, half air.
neurodata.io

[2016-03-24 20:16] alexbaden opened #27 "Weller et al --> Weiler et al"
https://github.com/neurodata/ocp-journal-paper/blob/gh-pages/Results/Tables/Table1/table1b_v2.md

[2016-03-25 12:16] MrAE opened #28 "Fix figures in /Results/store/"
@jovo, do you want plots of the time to R/W or throughput of the R/W?

@kunallillaney

[2016-03-25 12:42] jovo commented on #28
Can you try time first and see how it looks?

On Friday, March 25, 2016, Jesse Leigh Patsolic notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
neurodata.io

[2016-03-26 04:13] MrAE commented on #28
They have been updated and pushed. I don't like it.

[2016-03-27 05:12] jovo commented on #28
those images don't look quite right.
time should be smaller with more threads, right?

On Sat, Mar 26, 2016 at 12:13 AM, Jesse Leigh Patsolic <
notifications@github.com> wrote:

##

the glass is all full:  half water, half air.
neurodata.io

[2016-03-28 15:51] MrAE opened #29 "ndtilecache.csv bug"
ocp-journal-paper/Results/CSV/ndtilecache/1024_1024_4threads_ndtilecache.csv

line 488 = 0.00.624686002731

@kunallillaney ?

[2016-03-28 21:16] #28 closed

[2016-04-20 06:17] #23 closed

[2016-04-20 06:17] jovo commented on #15
@j6k4m8 little help? tables do not seem to be loading in document.
@willgray

[2016-04-20 14:55] j6k4m8 commented on #15
My guess is this is an issue with how Jekyll is rendering the page — I'll
check it out today.

On Wed, Apr 20, 2016 at 2:17 AM joshua vogelstein notifications@github.com
wrote:

[2016-04-20 16:16] jovo commented on #15
thanks

On Wed, Apr 20, 2016 at 10:55 AM, Jordan Matelsky notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
neurodata.io

[2016-04-21 02:57] #29 closed

[2016-04-26 18:45] alexbaden opened #30 "give me access to this repo"
@jovo

[2016-04-26 21:59] #30 closed

[2016-04-30 19:22] alexbaden commented on #24
Figures produced using WebGL version. The draft is in the paper and I'm working on a lucidchart sub-paneled version now.

[2016-05-01 18:05] jovo commented on #18
@alexbaden thank you!
💑

[2016-05-01 18:05] #18 closed

[2016-05-12 20:57] MrAE commented on #27
I fixed this in the overleaf paper.

[2016-05-17 15:14] MrAE opened #32 "To be sure we are aware of this webpage."
@willgray @jovo Just double checking that we are aware of this [http://docs.neurodata.io/ndpaper2016/](http://docs.neurodata.io/ndpaper2016/)

[2016-05-17 15:19] jovo commented on #32
yah, i made it.

On Tue, May 17, 2016 at 11:14 AM, Jesse Leigh Patsolic <
notifications@github.com> wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-05-18 18:33] gkiar opened #34 "greg & jesse todos for paper"
-  fig 1 (@MrAE)
  - [ ] replace content for panel **b** (@jovo @willgray to provide content, @MrAE to update figure)
  - [x] redo part **d** with new data from kunal
  - [x] remove graph panel **e**
  - [x] confirmation of the above (@jovo @willgray click if you agree)
- [x] fig 2 (@gkiar)
  - [x] adjust layout of panels
  - [x] consider replacement content for histogram panel (@willgray to advis

[2016-05-18 18:46] wrgr commented on #34
likely more to follow, but this is a wonderful advance!

[2016-05-18 19:23] jovo commented on #34
we probably need a "big picture" fig 0 schematic,
explaining the whole system.
shall we draw one out on the board tomorrow?

[2016-05-18 19:24] gkiar commented on #34
That's a great idea! gcal us with a time you want to work on it?

[2016-05-18 19:25] wrgr commented on #34
cool.  i'm off campus - could do a call or send notes in advance (or just jump in later).

[2016-05-18 19:25] alexbaden commented on #34
Kunal has a cool figure in the ndstore microns branch Readme. Maybe a good
starting point?
On Wed, May 18, 2016 at 15:24 Greg Kiar notifications@github.com wrote:

[2016-05-18 19:25] jovo commented on #34
lunch?

On Wed, May 18, 2016 at 3:24 PM, Greg Kiar notifications@github.com wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-05-18 19:28] jovo commented on #34
maybe start a new issue for fig0, and upload that, and we can discuss?

On Wed, May 18, 2016 at 3:25 PM, Alex Baden notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-05-19 21:32] MrAE opened #35 "fig1 tile cache"
@jovo @willgray @gkiar the new data from Kunal is much noisier than the first set. I think we should go back to the first set.  Thoughts?

It's updated on overleaf.

Here are both of them side by side:
https://github.com/neurodata/ndpaper/commit/1b600a39d2fd3a95d8b01ed42d0c84a3516f9915#diff-0a4e82a1d1f31610865061c16784fb58

[2016-05-19 21:57] MrAE commented on #35
@kunallillaney do you have an idea why the second set of data is noisier than the first?

[2016-05-20 01:13] jovo commented on #35
@mrae they are on different scales, maybe look at them on the same scale?

On Thu, May 19, 2016 at 6:31 PM, Jesse Leigh Patsolic <
notifications@github.com> wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-05-20 03:21] kunallillaney commented on #35
It is not noisier. The cube prefetch size is 16 vs 64 earlier. This why they are spikes of tile fetch times more often.

[2016-05-20 03:27] jovo commented on #35
@kunallillaney that is a good point.

@MrAE what if we only looked at the first 1000, or even 500 time points.
we don't have 6000 pixels in that panel, which means that we are smoothing,
and we are smoothing in some weird way, which might be aliasing in our brains, etc.

so, maybe figure out about how many pixels that would be on a regular monitor,
and use # time points < # pixels?

[2016-05-20 16:11] MrAE commented on #35
I selected the first 600 time points in trial No. 1. It's at least stable for the moment.

[2016-05-20 23:28] jovo opened #36 "stuff for paper before showing it to people"
my prioritization scheme is below.

### basically required:

- [x] titles on all figure panels, fig 2 is a great example.  recall: titles provide *context*, not the labels of X and Y
- [x] organize supplement stuff, it all goes in webpage? or here?
- [x] figures *always* inline, no matter what the journal says about doing that.
- [x] each paragraph should be able **one** thing.  so, when reading t

[2016-05-23 00:57] #32 closed

[2016-05-23 00:57] #27 closed

[2016-05-23 00:58] #15 closed

[2016-05-23 00:58] #20 closed

[2016-05-23 00:58] #22 closed

[2016-05-23 00:58] #24 closed

[2016-05-23 00:58] #25 closed

[2016-05-23 00:59] #26 closed

[2016-05-23 00:59] #35 closed

[2016-05-23 01:00] jovo commented on #16
made note in overleaf.

[2016-05-23 01:00] #16 closed

[2016-05-24 13:15] wrgr commented on #36
table 2 lists GB/row because it's image size
table 1 lists voxels/row because it's a count

So we did it like that because they are different quantities.  Can homogenize but need your advice @jovo.  other things proceeding on track.

[2016-05-24 15:40] jovo commented on #36
"table 2 lists GB/row because it's image size
table 1 lists voxels/row because it's a count"

that sounds great, but its not what i see?

On 5/24/16, William Gray notifications@github.com wrote:

##

the glass is all full:  half water, half air.
openconnecto.me, jovo.me, office hours
https://www.google.com/calendar/embed?src=vk2j3ugqcitvq223g7ivvq4hqo%40group.calendar.google.com&ctz=America/New_Yo

[2016-05-25 20:42] MrAE opened #38 "fig6 Synapse Diversity: Polishing"
Figure 6 embetterment:

As displayed in the updated overleaf version:
- [ ] Font size needs to be bigger on axis labels for all (should match top left as displayed in paper)
- [ ] The top histogram used the data agnostic binning strategy, more bins?.
- [ ] Side histogram bins are unevenly spaced.
- [ ] the color blue is inconsistent.

@jovo @j6k4m8 @gkiar

[2016-05-26 00:34] wrgr commented on #36
@MrAE - can you take a look at restoring table 1 and 2 voxels and GB?  I know they are somewhere...leave things you can't find blank and I'll circle back.

[2016-05-26 01:02] MrAE commented on #36
I'll check it out.

[2016-05-26 04:04] MrAE commented on #36
I wasn't able to accomplish a whole lot.  Got a few in there.  Any pointers where all of this info resides?

[2016-05-26 04:06] MrAE opened #39 "XXX's and YYY's"
There are a bunch of places in the paper with either `XXX` or `YYY` as place holders for information.

@willgray @jovo @gkiar

[2016-05-26 04:50] will commented on #39
No ZZZ though I hope

On Wednesday, May 25, 2016, Jesse Leigh Patsolic notifications@github.com
wrote:

[2016-05-26 11:20] wrgr commented on #36
This is all in project info for each project/dataset.  I think we can make a nice curated list.  @j6k4m8, @gkiar - do we have a script for this?  If not, I can look into something.

[2016-05-26 13:41] MrAE commented on #39
Sorry, wrong Will

[2016-05-29 09:59] jovo opened #40 "fig naming convention"
let's choose a convention and stick with it, and let's be sure to save each panel separately as well as together (because we'll use the separate ones for talks and stuff).

for example, store_vol_read, store_vol_write, ..., store (for the whole thing, if you generate it in lucidchart or something for now).

i tend to not like calling things by figure number/letter because they often change before

[2016-05-30 06:11] jovo opened #41 "stuff required before sending to nature editor"
- [x] complete reproducability explore pages @alexbaden
- [ ] complete reproducability store pages @kunallillaney
- [x] @kunallillaney put simplified schematic of entire backend in lucidchart & invite jovo (showing ndstore, S3, ndblaze, ndtilecache, and ndviz on appropriate hardware).
- [ ] finish use case technical content @willgray
- [ ] provide feedback and edit as appropriate @jovo

fyi @randa

[2016-05-31 17:14] MrAE commented on #40
Good idea.

[2016-05-31 17:19] MrAE opened #42 "fig:Parse-object-detection"
Regarding fig:parse (i):

When printed the text size is not big enough. Can you send shorter descriptions?

Otherwise, just making the text larger will make the figure wider than the others in the panel.

@will @jovo @gkiar

[2016-05-31 20:50] MrAE opened #43 "Markram 15 citation info"
Link for Markram 15, so I can create the citation.

@willgray @jovo @greg

[2016-05-31 21:06] alexbaden commented on #41
First attempt at the Explore reproducibility page: http://docs.neurodata.io/nddocs/ndpaper2016/explore.html

Waiting for feedback! 👍

[2016-05-31 21:41] alexbaden commented on #36
I took a crack at table 2. I used the on-disk size of each DB for the size of the dataset. Items in Bold I wasn't sure about (either a weird value, or didn't know what the token was).

| key | reference | datasets | modality | species | GB |
| --- | --- | --- | --- | --- | --- |
| OHN | Ohyama et al. Nature (2015) | 2 | EM | D. melanogaster | **Token??** |
| DBN | Bock et al. Nature (2011) | 1 | E

[2016-05-31 22:31] jovo commented on #43
Reconstruction and Simulation of Neocortical Microcircuitry

On Tuesday, May 31, 2016, Jesse Leigh Patsolic notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-05-31 22:35] jovo commented on #36
thanks @alexbaden, really making progress now!

On Tuesday, May 31, 2016, Alex Baden notifications@github.com wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-05-31 22:36] jovo commented on #41
is a great start!

i'll let @willgray take the first shot at feedback.

one "obvious" omission: how do we use/get to the histogram explorer?

thanks!

On Tuesday, May 31, 2016, Alex Baden notifications@github.com wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-05-31 22:38] wrgr commented on #41
will do tonight or tomorrow latest  :)

[2016-05-31 23:33] alexbaden commented on #36
I suggest the following revised format for Table 2:

| reference | modality | species | _tokens_ (desc) | GB | GV |
| --- | --- | --- | --- | --- | --- |
| Harris et al. Scientific Data (2015) | EM | R. rattus | _kharris15apical_ (Apical Dendritic Segment), _kharris15oblique_ (Oblique Dendritic Segment), _kharris15spine_ (Spine Segment) | 9.4 | **XXX** |

Perhaps we can format tokens so line break

[2016-05-31 23:43] wrgr commented on #36
some thing like that would be great.  But i really can't do this reasonably unless someone dumps a token/channel list for me of public stuff.  If it's not reasonable to do, then Jesse and I will try to do with ndio, but 100x slower.

@kunallillaney

[2016-05-31 23:44] jovo commented on #36
+1 to idea, and +2 to @alexbaden / @kunallillaney taking the lead on this
:-)

On Wednesday, June 1, 2016, William Gray notifications@github.com wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-06-01 00:23] alexbaden commented on #41
Doh! Histogram explorer section added. I need to generate a histogram for the 16-bit example. That process has already been started, when it finishes I will push an update.

[2016-06-01 01:51] alexbaden commented on #36
Here's a link to all public tokens and channels: https://docs.google.com/spreadsheets/d/1lwjWgIiA1UF7U6XHALb5voTCHC3uwSUjn1o-wHFUlWw/edit?usp=sharing

Once we identify what we want to put in the paper, and how we want to organize it, I can convert that list into table 2.

I suggest we hide stuff we aren't interested in putting into the table. For example, for the first item (Ex3R43C2), I collapsed

[2016-06-01 01:57] wrgr commented on #36
this is amazeballs.   I will curate this and report back.

[2016-06-01 01:58] alexbaden commented on #36
Also, it was scripted -- so if we need different format or something along those lines, it's easy to change:

https://github.com/neurodata/ndstore/blob/master/util/publicTokensToCSV.py

[2016-06-01 08:28] jovo commented on #41
better!

but i don't understand how the buttons work,
or, perhaps they do not work?

On Wednesday, June 1, 2016, Alex Baden notifications@github.com wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-06-01 14:41] alexbaden commented on #41
Apply Window to Image will only work if the image is from a 16-bit dataset. kharris15apical / em is 8 bit, so the windowing / image features don't work. The other buttons still work, though -- copy to min, copy to max (though they aren't useful without 16 bit) and the precentile slider.

[2016-06-01 15:58] jovo commented on #41
i see.
documentation should clarify.

your reproducible text is great, though much of it really belongs in the
documentation i think?
in particular, everything other than how to reproduce the figure?

On Wednesday, June 1, 2016, Alex Baden notifications@github.com wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=jo

[2016-06-01 17:57] jovo opened #44 "ingest speeds"
@kunallillaney eric says davi's microscope goes 200MBytes/s,
bobby says jeff's new microscope goes 10 tb/hr = 2,700 mb / s
note that bobby isn't sure whether it is bits or bytes.

these are good references for us to know, when generating the ingest benchmark.

@MrAE

[2016-06-01 18:37] MrAE commented on #44
If it's terabits (Tb), then that would be > 300 MB/s
If it's terabytes (TB), then that would be > 2.5 GB/s

[2016-06-01 18:38] jovo commented on #44
i'm glad somebody can add.
i've always sucked at arthimatic!

[2016-06-01 18:39] MrAE commented on #44
Don't look at me, I used WolframAlpha for that! Haha

[2016-06-01 18:44] jovo commented on #44
i used R and still got it wrong :)

On Wed, Jun 1, 2016 at 8:39 PM, Jesse Leigh Patsolic <
notifications@github.com> wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-06-01 23:43] MrAE commented on #43
Thanks

[2016-06-01 23:43] #43 closed

[2016-06-02 00:32] wrgr commented on #41
moving along with this.  feedback mostly happening one-one but major things will post here.

[2016-06-03 03:40] kunallillaney commented on #44
@jovo We can do 20MB/sec ingest to a MySQL database. This includes transferring data from S3 scratch space, slicing it into smaller cuboids and inserting it into MySQL. Note: that S3 is infinite so we can buffer and this is single threaded. We do not have a multi-threaded version of this and that will take about 2-4 weeks.

[2016-06-03 03:43] wrgr commented on #40
let's call them store, explore, parse, cartography, synapse

volread, volwrite

If you can avoid underscores, that keeps things from breaking (I have trouble with some packages interacting poorly with underscores unless you explicitly escape them...)

@MrAE - this is you!  Let's also remove old figures - ones that we like can go into git somewhere, but generally these just get better everytime.  R

[2016-06-03 03:44] wrgr commented on #41
use cases moving along.  Lots of stuff today.  More to come tomorrow.  :)
Kunal got us an awesome fig @MrAE  is going to insert!

[2016-06-03 03:55] MrAE commented on #40
I renamed a bunch in overleaf already.  I replaced underscores with "-" to enhance efficiency when typing them out as you don't have to hold down the shift key.

[2016-06-03 03:56] wrgr commented on #40
cool - what's your convention?  I'll follow it.  Also, can we kill the old figs tomorrow or soon?

[2016-06-03 04:03] MrAE commented on #40
- `store-<description>.<file-extension>`
- `explore-<description>.<file-extension>`
- `parse-<description>.<file-extension>`
- `extneuro-<description>.<file-extension>`
- `spdist-<description>.<file-extension>`

[2016-06-03 04:04] wrgr commented on #40
beautiful  :)

[2016-06-03 04:04] MrAE commented on #40
I'll look through and delete unused figures tomorrow.

[2016-06-03 04:04] MrAE commented on #41
Where is the location of the above mentioned figure?

[2016-06-03 04:05] wrgr commented on #41
https://github.com/neurodata/ndstore/blob/microns/docs/images/neurodata_cluster.png

:)

[2016-06-03 04:11] wrgr commented on #42
@MrAE:  figure is updated here in the lucid chart:  https://www.lucidchart.com/documents/edit/073fd4e1-2ce5-401b-bf92-480d69111ad6/13

[2016-06-03 04:12] wrgr commented on #36
tables happening early next week - with @MrAE and @willgray!

[2016-06-03 04:13] MrAE commented on #41
I'll fit that in tomorrow.

[2016-06-03 04:16] wrgr commented on #42
nevermind - i got it!  updated - great suggestion @MrAE - wayyyyyy better.

[2016-06-03 04:17] #42 closed

[2016-06-03 05:26] jovo commented on #40
so, all the figs are now in the ndpaper repo,
or the overleaf repo?

On Fri, Jun 3, 2016 at 6:04 AM, Jesse Leigh Patsolic <
notifications@github.com> wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-06-03 06:15] jovo commented on #44
great! send me & @mrae the csv file when you get it timing ingest.
by the time we get the revisions back, we'll replace it with the new
parallel fig :)

On Fri, Jun 3, 2016 at 5:40 AM, Kunal Lillaney notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-06-03 06:21] kunallillaney commented on #44
@jovo There is no csv file. It is only a single value of time. I divided the total data by time and got that value.

[2016-06-03 06:23] kunallillaney commented on #41
@MrAE This is a longer conversation with @jovo which we can move to an email. We did not run any tests with S3 on the benchmarks. So not sure if it makes sense to include S3 in the figure or talk about it.

[2016-06-03 06:24] jovo commented on #44
ok, what was the total data size?
can you do that for 4 other datasets with different data sizes,
and then give jesse all 5 (name,size,time) triples?

On Fri, Jun 3, 2016 at 8:21 AM, Kunal Lillaney notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-06-04 14:31] willgray opened #45 "Will Nature Paper Issues"
refactoring issues by people...

- [x] Table 1 content
- [x] Table 2 content
- [x] Table overview rough cut text
- [x] Move paper back to github (everyone else seems to like that better and makes more sense with current structure...)

[2016-06-04 14:31] wrgr commented on #45
table content being fixed this week

[2016-06-04 14:49] willgray opened #46 "Website Prettification"
Need someone with web expertise to make landing page better.  we are focusing on content.

[2016-06-04 20:12] jovo commented on #40
bump?

[2016-06-04 20:13] jovo commented on #45
@willgray you are the assignee here?
we can make the overleaf thing a submodule in the github repo,
so that you can have your cake and eat it too?

[2016-06-04 20:14] MrAE commented on #40
They are in overleaf so far as I know.

[2016-06-04 20:16] #40 closed

[2016-06-04 20:41] wrgr commented on #45
making one of these issues for all of us...this is mine!  do you know how to do the overleaf thingy?

[2016-06-04 20:43] jovo commented on #45
https://www.overleaf.com/blog/195-new-collaborate-online-and-offline-with-overleaf-and-git-beta#.V1M9SZN97sk

https://www.overleaf.com/help/233-how-do-i-connect-an-overleaf-project-with-a-repo-on-github#.V1M9Y5N97sk

[2016-06-06 15:41] jovo opened #47 "reference point"
for the store numbers, people have no reference point, meaning they won't know what is "good".
i realize that all reference points we might be able to provide will likely be partially misleading,
because we are proposing a fundamentally different computing model,
nonetheless, without a reference point, they will have no idea how awesome our performance is.

here is one example reference point, i i

[2016-06-06 16:31] wrgr commented on #47
@jovo - call in this afternoon and we'll talk?

the win in terms of speed is in cuboids not in pulling whole data.  To simulate this is a fairly involved thing...but doable.  Want to make sure we are approaching correctly.

[2016-06-06 17:27] jovo commented on #47
think of the simplest thing.  it doesn't involve writing any code.
no need to discuss.  this is an exercise for you guys.
think of the simplest thing, put your best guess in the comments here,
no need to modify text, _definitely_ no need for code....SIMPLE SIMPLE SIMPLE.
it doesn't matter if we win. all that matters is a simple point of reference.
- how long to copy data from one machine to anothe

[2016-06-06 17:29] wrgr commented on #47
42

[2016-06-06 17:31] jovo commented on #47
that is progress!!!!

next: i need a unit for it to be meaningful.

baby steps....

On Mon, Jun 6, 2016 at 7:29 PM, William Gray notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-06-06 17:33] wrgr commented on #47
newtons

[2016-06-06 17:38] jovo commented on #47
ok, a little more useful one.
eg, GB/s.

now that we have a number and unit, we need context.

we get  42 GB/s when doing _____

you guys fill in the blank.

this is a real exercise. you guys need to learn how to just do _something_, and then we can fix it.

perfect is the enemy....

[2016-06-06 17:56] alexbaden commented on #46
First attempt: http://docs.neurodata.io/ndpaper/

Things that already need tweaking:
- [ ] images in the rotator (I like the width of the first, but not the height. Others will need to be resized.
- [ ] the layout is responsive. if you shrink the page, the rotator disappears. But, we need to stick in some sort of placeholder, or else kill the jumbotron entirely of we get a weird gray box.

Thought

[2016-06-06 18:06] jovo commented on #47
c'mon.....

[2016-06-06 18:14] jovo commented on #46
this is a very low priority, post submission.

[2016-06-06 18:37] wrgr commented on #47
http://blog.takipi.com/amazon-ec2-2015-benchmark-testing-speeds-between-aws-ec2-and-s3-regions/

Reports 40 seconds/GB, or 25MB/second when transferring between ec2 and s3 in the same region.
- This is for 10MB  files...so overhead maybe misleading.

Benchmarks for cloud services in general are a bit flaky.  But here's a start.

[2016-06-06 18:39] jovo commented on #47
this is great!!!!

[2016-06-06 18:39] #47 closed

[2016-06-07 21:15] jovo opened #48 "anybody know how to pull the ndpaper "paper" submodule?"
i tried the following to know avail:

`git submodule update --init --recursive`
and
`git submodule foreach git pull origin master`
and
`git pull && git submodule init && git submodule update && git submodule status`

the first two literally returned nothing.
the last one returned:
`Already up-to-date.
 1f4440b532998d27494e000e7b43bd16cdc798bf paper (1f4440b)`

which was false.

@kunallillaney @dis

[2016-06-08 00:37] alexbaden commented on #36
I made draft versions of Table 1 (Images) and Table 2 (annotations) in Google Sheets. I failed to get them to overleaf... not sure how to use R to generate those tables. But sheets is fine for now, I think.

https://docs.google.com/spreadsheets/d/1lwjWgIiA1UF7U6XHALb5voTCHC3uwSUjn1o-wHFUlWw/edit?usp=sharing

Let's ignore table 2 (annotations) and focus on table 1 (images).

All the columns are sel

[2016-06-08 07:46] jovo commented on #36
-  i love Table 1.  i italicized the columns that i think go in the paper.  more specifically, for the table in the main paper (maybe something more elaborate goes in the appendix, each pub gets a single row.  there is no need to list tokens (as you mention, they can find them). i added a row "# Tokens / Channels / Time-Steps",
- bloss and codeneuro were missing. as was codeneuro.
  - [ ] @Aeusman

[2016-06-08 14:01] alexbaden commented on #36
Sounds good. I think there's a good argument for listing tokens though -- between Will and myself, we weren't able to identify the tokens for all the publications you listed. Finishing the data pull turns out to be a terrible airplane activity, but I have 4 hours in Dallas so I'm sure I can take care of it then...

[2016-06-08 14:09] jovo commented on #36
fair enough, if we want to give people a "collection" --> "token" map,
let's make another table for that.
the purpose of this table is to demonstrate the depth and breadth of our data.

NB: this is why dean added a layer, and why i asked jordan in ndlims to create a field called "publication", so that we could search by publication.  eventually, i think our data model will have to mature to accomm

[2016-06-08 14:28] alexbaden commented on #36
Word.

On Wed, Jun 8, 2016 at 8:09 AM joshua vogelstein notifications@github.com
wrote:

[2016-06-08 16:15] Aeusman commented on #36
@jovo CodeNeuro data cannot be ingested as timeseries data, the way the back end works right now is not able to handle the ingest of single slice timeseries data. @kunallillaney can explain more

[2016-06-08 16:19] jovo commented on #36
@Aeusman everything is possible!
i think you are trying to say that ingesting single slice time-series data might require @kunallillaney to add some functionality to ndstore?

some of the codeneuro data is multi-slice time-series, so i don't see why those datasets would be problematic?

[2016-06-08 16:30] Aeusman commented on #36
@jovo I'm not sure, it was my understanding having spoken to him that this would require a re-write of a number of things and so may be a large issue to tackle.

I am unclear which codeneuro datasets are multi-slice time series, as their site http://datasets.codeneuro.org/ is down. I tried emailing them several times, but to no avail and there is no metadata in the files that indicates which are a

[2016-06-08 16:40] jovo commented on #36
ah, they have a gitter chatroom: https://gitter.im/orgs/codeneuro/rooms
and if that doesn't work, you can email jeremy freeman directly.

On Wed, Jun 8, 2016 at 6:30 PM, Alex Eusman notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-06-08 16:55] Aeusman commented on #36
@jovo I messaged jeremy on gitter, will let you know when I hear back.

[2016-06-08 17:06] Aeusman commented on #36
@jovo According to him all of the datasets are a single slice over time

[2016-06-09 06:18] jovo commented on #48
@kunallillaney says the submodule isn't working right, i agree, its now dead to me :(
i am just using the overleaf one until will no longer wants to use overleaf,
and then we can pull it back in here.

[2016-06-09 06:18] #48 closed

[2016-06-09 06:26] jovo commented on #41
- [x] "In addition to the data exhibited in Figure 2, we wish to highlight the following published 8-bit EM Datasets:" and the following table i think are not appropriate in reproducability appendix for the paper. but that table is great, i recommend moving it to ndviz documentation, and maybe offering a link here.
- [x] "Public tokens and channels are available in Table 1, Table 2, and supplement

[2016-06-09 06:37] jovo commented on #44
@MrAE i think kunal made the new csv files, can you make the new figure?

[2016-06-09 06:39] jovo commented on #34
everything but 1 thing done, which is already in a different issue, great job!

[2016-06-09 06:39] #34 closed

[2016-06-09 06:43] jovo commented on #36
@alexbaden the only remaining sub-tasks for this issue are the tables, and my understanding is that we'll have working drafts of them this week, and you are in charge of that, and will continue tasking people as appropriate to give you what you need, but will have in the draft a version of the tables that is "presentable" by the end of the week?

[2016-06-09 06:44] jovo commented on #38
@willgray what is the priority on this? this week?

[2016-06-09 06:46] jovo commented on #45
@willgray confused by this issue. @alexbaden is doing tables? are you moving back to github this week? please clarify.

[2016-06-09 12:33] alexbaden commented on #36
Yup. The draft of table 1 is done for all existing tokens, minus a few species (@willgray?). I will try and wrangle a few more tokens on campus today, and also get a draft of table 2.

[2016-06-09 12:41] jovo commented on #36
oh great, done = "in overleaf"?

On Thu, Jun 9, 2016 at 2:33 PM, Alex Baden notifications@github.com wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-06-09 12:44] alexbaden commented on #36
No -- I will do that today.

Alex

On Thu, Jun 9, 2016 at 08:41 joshua vogelstein notifications@github.com
wrote:

[2016-06-09 12:53] wrgr commented on #41
@alexbaden - hold on moving these until we find a good place - if you have one, let me know.

[2016-06-09 12:54] wrgr commented on #38
@MrAE and I are talking.  I'm responsible for both case study contents.  Jesse is going to pretty these, but tables are priority for the week.  Next week is case studies.

[2016-06-09 12:56] wrgr commented on #45
Tables are indeed my responsibility.  Alex has tasks and is doing great - we should have new drafts of tables this week, maybe today.

This week was dynamic, so wasn't as captured in github as other weeks.  If you need a summary, please ask.  Will reassess paper early next week and make issues.  Sooner if you need them.  Note issues are now per person for clarity, not per topic for this repo.

[2016-06-09 12:57] wrgr commented on #36
alex - will get you feedback today.  hopefully this am.

[2016-06-09 13:19] MrAE commented on #44
I'll let you know when I have something.

[2016-06-09 15:29] wrgr commented on #41
Ok - @alexbaden - can you move the data to http://docs.neurodata.io/nddocs/ndpaper2016/data.html (corresponding md file).  Anything you prefer in ndviz docs, fine by me, but I think most of this is useful for the paper.  Easy to rearrange later.  And either way, once you do this, we can close the issue!

[2016-06-09 17:10] alexbaden commented on #36
Draft of table 1 and table 2 now exist in the google sheet.

@jovo  -- can you take a look at table 2? I italicized what I thought you might want. Let me know what headers are missing.

@willgray -- I still need a few items from you. Mainly parsing the tokens in the xbrain2016 project as machine or hand, as well a clarification on ac3/ac4 (I believe ac3 and ac4 are just hand annotations?)

[2016-06-09 17:18] alexbaden commented on #41
Moved. Explore section should be done. @jovo, take a look and lemme know?

PS: I moved histogram to tutorials. It doesn't have a good home. Once this madness is done, we can find it a good home.

[2016-06-09 17:36] jovo commented on #36
@alexbaden - this is awesome.
i filled in some blanks in table 2.
i think the columns that make the most sense are:
reference, method, # GV, # RAMON objects.
if that last one is difficult to obtain,
let's put the table in the draft without it for now?

On Thu, Jun 9, 2016 at 7:10 PM, Alex Baden notifications@github.com wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo ca

[2016-06-09 17:47] wrgr commented on #36
will do this afternoon.  i'm out tomorrow.  let's shoot for replacing the tables in the paper with these by end of day?  might need @MrAE to run his script, or might be easy to convert to latex?

Goal is working-working on the paper.

[2016-06-09 18:44] wrgr commented on #36
Did everything I could, including looking up all species.  RAMON is premature/difficult for now.  I like Joshua's columns I think.  Nice and clean.  I think the full columns are really good to preserve and should be online.

We're also making a table 3 @jovo - which answers questions like "how much data do we have" "how much public" "how much manual" etc.  Either for the paper or to draw from to f

[2016-06-09 18:49] jovo commented on #36
all great!
table 3 of course after table 1 & 2...

On Thu, Jun 9, 2016 at 8:44 PM, William Gray notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-06-09 18:54] wrgr commented on #36
that's a hilarious comment.  :)  table 3 to follow next week, probably @alexbaden - goal for the moment is just 1 and 2.  3 is a collapsing of some of the columns that aren't part of the main T1 and T2.  :)

[2016-06-09 18:57] wrgr commented on #44
@kunallillaney - please add a md description so that we can better grok what's happening?

[2016-06-09 20:01] willgray opened #49 "Working to Working"
We broke the paper with the OCAR stuff and notes.  Let's unbreak by tomorrow (Friday).  Should be mostly just wrapping ocar in \todos and removing extra tables.  @jovo

[2016-06-09 20:10] willgray opened #50 "Table Improvement"
- [x] Revisions to tables as needed once we have a working version
- [ ] Initial version of table 3, capturing core information at a summary level

@MrAE @alexbaden

[2016-06-09 20:16] willgray opened #51 "Table Formatting"
Tables are looking great!

- [x] Add citations for each reference in table 1 and 2 as appropriate
- [x] I think leave Time blank rather than NA
- [x] add table captions
- [x] Look in old version of tables for missing rows that we overlooked in the latest scrub
- [x] remove GB, data bit depth and resolution from image table
- [x] Remove resolution column
- [x] remove GB from table 1

Goal at the en

[2016-06-09 20:18] wrgr commented on #36
w00t for now

[2016-06-09 20:18] #36 closed

[2016-06-09 20:20] wrgr commented on #41
i think this subtask is now complete!  @jovo - do a quick review or store and see what you think?

[2016-06-09 21:35] wrgr commented on #39
done.  some things are encapsulated in TODOs, mostly things that will fall out of table 3

[2016-06-09 21:35] #39 closed

[2016-06-09 21:36] wrgr commented on #45
done for this version.  new issues for next week.

[2016-06-09 21:36] #45 closed

[2016-06-09 21:37] wrgr commented on #44
@kunallillaney @MrAE

This is one of the only major outstanding issues for next Monday for the paper

[2016-06-09 21:37] jovo commented on #45
👬

[2016-06-09 21:38] jovo commented on #39
💑

[2016-06-09 21:38] wrgr commented on #38
@MrAE - details to follow here next week.  not critical for working milestone.  @jovo - this got deferred so we could focus on tables this week.

[2016-06-09 21:39] wrgr commented on #49
I did my part!

[2016-06-09 21:39] jovo commented on #36
💑

[2016-06-09 21:39] jovo commented on #41
💑

[2016-06-09 21:39] #41 closed

[2016-06-09 21:39] willgray opened #52 "Make case studies prettier and identify subtasks"
Due Monday - make case studies working.  Next week will have a separate milestone to embetter them.

[2016-06-09 21:39] kunallillaney commented on #44
I left him instructions [here](https://github.com/neurodata/ndpaper/commit/6bbf03f8703830a0640a5944a0fe3bd17b101007).  He can ask me specific questions if something is missing.

[2016-06-09 21:39] willgray opened #53 "Case Study Embetterment"
### Neurocartography

### Spatial Synapses

[2016-06-09 21:46] jovo commented on #38
👌

[2016-06-09 21:51] jovo commented on #52
👌

[2016-06-09 22:03] jovo commented on #51
here are my first thoughts on the table:
1. this is AWESOME!
2.  a lot of whitespace could easily be removed without removing any columns.  consider:
   - [x] replacing reference with just the last name of the first author
   - [x] make the top row 2 lines, and put all units on the 2nd line
   - [x] change image size to '#voxels'
   - [x] put 'data type' and 'bit depth' on different lines, or just

[2016-06-09 22:49] jovo commented on #49
me too!

[2016-06-09 22:49] #49 closed

[2016-06-10 02:23] willgray opened #54 "Reproducibility for Store"
@jovo - this was open on another issue that was closed, but simpler here and explicit and external.

[2016-06-10 02:24] wrgr opened #55 "Ingest MR data"
@jovo

Not sure where this is on the priority stack for @gkiar, but was the other issue open from the big issues of issues.

[2016-06-10 02:24] willgray opened #56 "fig0 revisions"
People seem to have opinions on how to make this better!

Discuss here.  :)

@jovo @alexbaden @gkiar @MrAE

[2016-06-10 05:32] jovo commented on #54
great!
@kunallillaney there are some todo's in the paper as well. i think those are a higher priority than reproducability.

[2016-06-10 05:33] jovo commented on #55
i think after @gkiar does a successful knn run on the m2g data, this would be the top priority.
@gkiar does that sound right? if so, please add appropriate milestone.

[2016-06-10 05:34] jovo commented on #54
@willgray & @kunallillaney please discuss and add appropriate milestone.

[2016-06-10 05:36] kunallillaney commented on #54
The reproducibilityexists [here](https://github.com/neurodata/ndpaper/blob/master/store/store.md). can you please be more specific on what you want to update?

[2016-06-10 05:40] jovo commented on #54
it looks really great.
for those benchmarks, its not clear where we run that code, just from any machine?
and then just add the line for running to code to make the fig once @MrAE makes it.

@kunallillaney let me know if you have any questions on the main text comments.

[2016-06-10 11:09] willgray opened #57 "Store Text TODOs"
Add text / respond to comments in store section of paper.

[2016-06-10 11:11] wrgr commented on #54
My hope here is to knock out reproducibility because Kunal has done a great job and it's just in need of the updates above and any other @jovo review.  And we can move on to other issues!

[2016-06-10 11:13] wrgr commented on #55
added milestone.

[2016-06-10 11:14] willgray opened #58 "Provide paper feedback"
The paper is really shaping up!

Provide detailed text comments on explore, analyze and data this cycle (skipping case studies for now).

[2016-06-10 11:30] wrgr commented on #58
Success here means generating 4 issues and assigning as appropriate:
- [x] Store - messaged @kunallillaney  https://github.com/neurodata/ndpaper/issues/57
- [x] Explore - @alexbaden & i discussed getting histograms working per ROI. he will make a new issue about that on monday.
- [x] Analyze - messaged @willgray and updated https://github.com/neurodata/ndpaper/issues/59
- [x] Figures - @MrAE was b

[2016-06-10 12:06] willgray opened #59 "embetter paper to dos"
### use case 2: spatial synapse reproducibility
- [x] initial rewrite of paper section for content and possibly ocar
- [x] get analysis code from jordan
- [x] get latest mask from dean with description of approach (using all layers for now)
- [x] upload mask to neurodata
- [x] build reproducible pipeline (script) to generate synapse count matrix from source data | vesicle run and mask upload
- [x]

[2016-06-10 12:11] gkiar commented on #55
Define successful? :P I agree, though.

##

Greg Kiar gkiar07@gmail.com

On Fri, Jun 10, 2016 at 7:13 AM, William Gray notifications@github.com
wrote:

[2016-06-10 13:20] willgray opened #60 "spatial synapse core statistical claims"
provide code and light doc so we know what's happening and are reproducible!

[2016-06-10 14:21] MrAE commented on #44
Thanks for the script/instructions. Now, can you please provide a description of the data, like @willgray mentioned? Thanks!

[2016-06-10 14:31] MrAE commented on #56
The newest version has a lot more going on.  It's not as simplistic as the first version.

[2016-06-10 14:37] kunallillaney commented on #44
@MrAE The data is Size(in GB) + 5 iterations of time(in seconds). We bench-marked ingest time over 3 different input data sizes(2.7,12.,115) for 5 iterations. You should probably generate a graph of MB/sec on Y-axis over data sizes on X-axis.

[2016-06-10 14:40] gkiar commented on #56
I've chatted a bit with @jovo about this fig. Personally, I find it a bit
cluttered and torn between two levels of content: It is in some ways very
low level, but in other ways quite superficial. I think as the initial
figure in our paper/that we turn to as our organization, we want to define
the primary message we wish to convey. If that message is along the lines
of "here is an ecosystem which t

[2016-06-10 14:44] kunallillaney commented on #54
@jovo I updated it and also left a stub in there for @MrAE to fill in the link to the R script.

[2016-06-10 14:45] kunallillaney commented on #57
- [x] Codeneuro TODO
- [x] Read through ingest and blaze
- [x] Update ingest section
- [x] Update propagate section

[2016-06-10 15:26] MrAE commented on #44
The figure should be updated everywhere.  👇 Feedback welcome. @jovo @willgray @kunallillaney

[2016-06-10 15:33] wrgr commented on #44
Woot!  Thanks guys!!   Comments on this go in another issue if needed.  This is complete.

[2016-06-10 15:33] #44 closed

[2016-06-10 15:37] wrgr commented on #56
I love both figures.  The simple one is nice to get our point across as eye candy and I definitely see it for advertising.  But too simple to convey much actual info. The complicated one is good for detail, but we'd need to modify to tie in all the services and might be better for the website.  I vote for a hybrid.  Meaning high level but more detail than store explore analyze.  Or maybe a multipa

[2016-06-10 15:54] MrAE commented on #51
I'm working on this now.  ⏳

[2016-06-10 18:11] alexbaden commented on #50
What is table 3?

[2016-06-10 18:36] alexbaden commented on #51
I made all Jovo's changes in Google sheets. I will get a copy to @MrAE after I add in the CLARITY datasets.

[2016-06-10 18:39] alexbaden commented on #51
As far as deal with object count goes, there are only two ramonified datasets (the two with object counts). So, we can set all the rest to 0, leave them blank (as it is now), or remove object count entirely. We could try and write a script to give us all the unique IDs in an annotation dataset, but that involves looping over all cuboids and creating a list -- very time consuming. A possibility for

[2016-06-10 18:40] MrAE commented on #51
I changed some things and just pushed to the paper repo.  I went off of the previous versions of the google sheets and changed after in R and LaTeX.  Let me know how they look. 👇 @jovo @willgray

[2016-06-11 19:54] jovo commented on #56
i recommend you guys look at some nature/nature methods papers that you
like, and check out their "fig0"
and report back on things that you like/dislike.

On Friday, June 10, 2016, William Gray notifications@github.com wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-06-11 20:31] jovo commented on #59
i gave jordan (and the class) the data that i had that had been binned.
i can check my old emails and see if i know which one.
in theory, we should be able to count bins and figure it out?

On Friday, June 10, 2016, William Gray notifications@github.com wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gma

[2016-06-11 20:33] jovo commented on #55
success = 1 DTI or fMRI scan ingested, link to viz (either using RESTful call or ndviz) posted in this issue.

[2016-06-12 06:57] jovo commented on #50
@willgray i also don't have clarity on what is in table 3, so it doesn't feel like a top priority.  can you provide a DoD for table 3?  in the meantime:

### both tables (and all future tables)
- [x] captions go _above_ the table, not below.

### table 1
- [x] add clarity, kristina @alexbaden
- [x] add # time steps to #data/#ch
- [x] i don't love the 2 rows, maybe just use GV & Depth, and we can e

[2016-06-12 06:59] jovo commented on #54
is [this](http://docs.neurodata.io/nddocs/ndpaper2016/store.html) the right link for store?
if so, it got reverted?

[2016-06-12 07:00] jovo commented on #58
can success be defined by commenting on 4 open issues?

[2016-06-12 20:54] alexbaden commented on #50
I tagged myself with the issues I am working. @MrAE let me know if you need # timesteps again.

As far as the RAMON objects goes, we only have RAMON counts for two entries in Table 2 -- xbrain and kasthuri. The rest of the datasets are not RAMONified and it's super difficult to count the number of object IDs without having RAMON data. We might be able to RAMONify as a revision task, but I think th

[2016-06-12 21:11] jovo commented on #50
ok, for # objects, for those we have RAMON, let's put in the exact number.

for those not, let's put in O(10), O(100), etc., which is our guess.
we can refine at revision, but it even kind of makes our point about
RAMON...

On Sun, Jun 12, 2016 at 10:54 PM, Alex Baden notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.goo

[2016-06-12 21:12] alexbaden commented on #50
Ok. I'm not sure how to do this. You, Will, and I might need to huddle.

[2016-06-12 21:21] jovo commented on #50
i think @willgray should be able to count RAMON objects and give you an
estimate of objects that aren't RAMONified (a top of his head guess, taking
no more than a few minutes), and then we are done with tables 1 & 2!

On Sun, Jun 12, 2016 at 11:12 PM, Alex Baden notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.co

[2016-06-13 12:33] wrgr commented on #54
Can I get a status update here @kunallillaney ?  I think the right goal for you this week is the text updates for the paper, but if this is still open, then I will delay that one so you can focus on knocking this out.

[2016-06-13 12:33] wrgr commented on #52
detailed stuff happening as part of embetterment

[2016-06-13 12:33] #52 closed

[2016-06-13 12:34] wrgr commented on #38
Deferred again so 1 person 1 issue.  I want to make sure code is in place first.

[2016-06-13 12:36] wrgr commented on #50
i'll work on this counting, probably tomorrow.  @alexbaden @MrAE - work on the rest of this?

[2016-06-13 12:37] wrgr commented on #58
i'm down with that, but ideally should be explicit, external, and detailed review (e.g., not "make figure better", but a review of existing content)

[2016-06-13 13:43] kunallillaney commented on #54
The text is [here](https://github.com/neurodata/ndpaper/blob/master/store/store.md). @jovo is ether looking at the wrong place or someone setup the repo wrong.

[2016-06-13 13:46] MrAE commented on #54
All of the website/landing page stuff for store was setup [here](https://github.com/neurodata/nddocs/blob/gh-pages/ndpaper2016/store.md)

[2016-06-13 13:48] kunallillaney commented on #54
@MrAE I have a slack message from @willgray telling me to copy it over to this repo in the store folder. If things were changes after that then I was not informed. :)

[2016-06-13 13:49] MrAE commented on #54
So then, @willgray where do you want it/where is it supposed to go?

[2016-06-13 14:31] alexbaden commented on #54
All of the links on the ndpaper landing page (http://docs.neurodata.io/ndpaper/) point to files in the ndpaper directory in the docs repo.

So the path to store that is currently linked from the landing page is: `http://docs.neurodata.io/nddocs/ndpaper2016/store.html`
which would correspond to
`ndpaper2016/store.md` in the `nddocs` repo (https://github.com/neurodata/nddocs/blob/gh-pages/ndpaper201

[2016-06-13 15:54] wrgr commented on #54
Paper stuff should be in paper repo I think?  Apologies if I've been unclear!

[2016-06-13 15:59] alexbaden commented on #50
I finished my table 1 tasks. The following still needs to be done:
- [x] reference for kristina15 and the clarity data
- [x] species for kristina15 and clarity

Any ideas?

[2016-06-13 16:27] wrgr commented on #50
Clarity is mouse.

[2016-06-13 19:40] #56 closed

[2016-06-13 19:48] jovo commented on #51
### table 1
- [x] clarity and kristina are both mouse
- [x] CLARITY reference is kwame's paper
- [x] i don't love "#Data".  in our data model, it is called "Projects", right?
- [x] maybe replace "X / Y" with "X, Y" (note i removed a space)?
- [x] caption must define all acronyms (not genus), and state # of different references, total # of GV, and total #Data.
- [x] sort by modality/resolution, eg

[2016-06-13 20:18] jovo commented on #58
so, a list of revisions for each person's 1 issue?
people still have 2 issues, so it will be a bit complicated, but i'll try...

On Mon, Jun 13, 2016 at 2:37 PM, William Gray notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-06-13 20:22] jovo commented on #54
i think the way it is set up store.md goes in the gh-pages branch of the
ndpaper repo.

On Mon, Jun 13, 2016 at 5:54 PM, William Gray notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-06-13 20:28] wrgr commented on #58
these will be ready for you by tomorrow.  not due for almost a week.  pardon our dust while i restructure.

[2016-06-13 20:30] jovo commented on #58
all good.

On Mon, Jun 13, 2016 at 10:28 PM, William Gray notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-06-13 21:34] alexbaden commented on #50
Seems to be a duplicate of #51 at this point, which I find very confusing. So, I'm going to close this one. @willgray open a new issue for Table 3, if and when that happens?

[2016-06-13 21:34] #50 closed

[2016-06-13 23:42] jovo commented on #54
ok, closing this issue, https://github.com/neurodata/ndpaper/issues/57 specifies that @willgray will tell @kunallillaney the right location.

[2016-06-13 23:42] #54 closed

[2016-06-14 02:49] alexbaden opened #61 "alex embettering paper"
- [x] update fig0 caption
- [x] update table2 caption and 'vesicle' entry
- [x] update table 2 w/ @willgray estimates
- [x] table 1 caption: define modality acronyms. and
- [x] period missing at end of caption.
- [x] generate reproducability doc for clarity ingest, and histogram stuff. moved to #67

[2016-06-14 04:42] alexbaden commented on #51
Jovo and I did a final-ish table 1 review this evening. I think we are set!

@willgray and I will continue to work on table 2. I need a resolution of the # of objects, at minimum.

Once the paper versions are finalized I think we should close this, and open a new one for the online version.

[2016-06-14 09:56] jovo opened #62 "update neurodata.io/projects to look like table 1"
its so beautiful.
we could just re-write it from latex to html
and then add links to each "project" page.

@alexbaden can you estimate how much time it would take you? and how excited you would be to do it (post submission)?

[2016-06-15 00:23] kunallillaney commented on #57
@jovo I did all the TODO's in the store.tex section. I should summarize the ndblaze section better because it seems quite a bit. Let's talk tomorrow on this and I will do it immediately after that.
- [ ] Summarize ndblaze section

[2016-06-15 00:24] kunallillaney commented on #57
@willgray Can you please wrap up your TODO in this section. I am still confused which is the correct location.

[2016-06-15 10:18] jovo commented on #59
@willgray updated this task with your other one, so issues are all person specific.

[2016-06-15 10:30] jovo commented on #57
@kunallillaney i moved @willgray 's task to his issue.
of note, store.tex wasn't compiling, i fixed it.
you got the content in for ndblaze, so i'm closing this issue, we can make a new one for revising text!

[2016-06-15 10:30] #57 closed

[2016-06-15 10:32] jovo commented on #51
- [ ] add full table versions to webpage even as we trim columns for paper
  is not a priority this week, so i removed.
- [ ] deal with object count
  i moved to your task, so we have just 1 task per person per week.

[2016-06-15 10:32] #51 closed

[2016-06-15 10:35] jovo commented on #59
@willgray please add DoD for your tasks, i'm confused what will be with regard to the use cases by monday.  afaict, all the rest of the contents are in place for the whole manuscript.

[2016-06-15 10:42] #58 closed

[2016-06-15 10:50] wrgr commented on #59
you were moving issues, so i was waiting on you so as to not interfere.  :)  seems like things are ready now.  will be more explicit on dod.

[2016-06-15 10:51] jovo commented on #59
perfect, thank you.

On Wed, Jun 15, 2016 at 6:50 AM, William Gray notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-06-16 02:25] jovo opened #63 "text updates"
- [ ] add discussion about compression, how good it is, that we do it in parallel, that makes it go fast, that even though we store up to 7 downsampled resolution, by compressing, # of GB < # GV at native resolution
- [ ] ndstore machinve vision should be subsubsection
- [ ] OCAR each section

[2016-06-16 02:25] jovo opened #64 "text updates for kunal"
- [ ] add discussion about compression, how good it is, that we do it in parallel, that makes it go fast, that even though we store up to 7 downsampled resolution, by compressing, # of GB < # GV at native resolution
- [ ] ndstore machinve vision should be subsubsection
- [ ] OCAR each section

[2016-06-16 02:26] #63 closed

[2016-06-16 02:27] jovo opened #65 "fix up figs"
@MrAE we'll talk about it :)

[2016-06-16 02:59] wrgr commented on #60
I have this now.  Folding into my issue.  Thanks!!!

[2016-06-16 02:59] #60 closed

[2016-06-16 03:00] wrgr commented on #55
@jovo - clarify priority here please?

Are we allowed to use console in the short term?

[2016-06-16 03:01] wrgr commented on #65
Once the others are done, I will have some case study figs.  But the ones that are there now will change in the next O(1 day) and O(1 week)

[2016-06-16 03:03] jovo commented on #55
we _always_  _always_  _always_  _always_ do the simplest thing first.
if that's console, then yes.

[2016-06-16 03:04] wrgr commented on #61
table 2 is really confusing to me (e.g., kasthuri11 data has many projects with annotations - there's no reasonable way anyone could find out what is available with this table).  What do you think about listing tokens (not projects or channels) and describing?

e.g., vesicle has a paper reference, is based on kasthuri data, but the result is machine vision annos
kasthuri2015_ramon_v4 is a token co

[2016-06-16 03:14] jovo commented on #61
do you mean table 2?
the point is to tell people that we have annotations, not provide a map.
if you want to provide a map, you are welcome to, after we do all the other
results.

On Wed, Jun 15, 2016 at 11:04 PM, William Gray notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail

[2016-06-16 03:15] wrgr commented on #55
clarify priority here please?  i understood your requirements were not to use the console.  this makes an initial version achievable quickly.

@gkiar - put a sample data set of your choice somewhere?

[2016-06-16 03:17] jovo commented on #55
requirement: one MR dataset ingest _any possible way you want_.

note: this is not a @willgray activity, it is a @gkiar activity.
@willgray is very busy with case studies and does not have time for this
until case studies are _completely_ finished.

On Wed, Jun 15, 2016 at 11:15 PM, William Gray notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo c

[2016-06-16 03:19] alexbaden commented on #61
Once the paper is submitted we can clean up the website / public projects page / etc. We also need to go through our public data, decide where it is going to live long term (I vote not datascope), and move it there. When we move it, we should convert to the new format so things are uniform (e.g. kasthuri11 is a project with a series of channels). We can always create tokens to match the existing d

[2016-06-16 03:20] wrgr commented on #61
Sure - it's hard for me to estimate ramon objects without knowing all the underlying stuff.
Also gives credit to image dataset rather than analysis people - maybe we just list multiple refs for each anno paper?  Based on what I know as a first cut:
- kasthuri machine - O(100000)
- takemura machine - O(100000)
- harris hand - O(1000)
- vesicle (subset of kasthuri?) - O(100000)
- dyer (xbrain? hand)

[2016-06-16 03:21] wrgr commented on #61
@alexbaden - agree in general - one thing to consider is that people will use reference datasets to publish other papers, and we may not want people adding new channels to existing published projects (e.g., 1 public project = 1 paper, sort of).  Or a schema update would solve.  But for another day...

[2016-06-16 03:22] alexbaden commented on #61
@jovo For clarity reproducibility and histogram stuff, the clarity "ingest" I am doing is fundamentally not [easily] reproducible. I'm dumping brains from dsp in the old format, converting to the new format (manually, by disabling foreign key checks and running custom SQL queries), and re-loading the data to match our new channels format. Even if you were well versed in SQL, you would need a thoro

[2016-06-16 03:23] jovo commented on #61
@alexbaden - please update paper with @willgray estiamtes.

for clarity, however, the answer is O(600),
it is just the ROIs.  although, that's per brain, and we have 15, so 15
times that i guess.

On Wed, Jun 15, 2016 at 11:20 PM, William Gray notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?sr

[2016-06-16 03:24] jovo commented on #61
@alexbaden - i understand.  we'll deal with it, i'm not expecting it to go
in the submission anyway, only the revision, as discussed, so we'll have
time.

On Wed, Jun 15, 2016 at 11:22 PM, Alex Baden notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-06-16 03:24] alexbaden commented on #61
@willgray The tokens for the annotation references are all in google sheets.

[2016-06-16 03:25] wrgr commented on #61
i should explain - I chose to give powers of 10 estimates.  15 x 600 = 9000 ~ 10^4.  I can refine as we go, or improve our data sources.

Thanks!

[2016-06-16 03:27] wrgr commented on #55
thanks.  I'll aim for ~end of july if not solved prior.

[2016-06-16 03:28] jovo commented on #61
ok, good enough for submission. let's close this subtask out by alex
updating the paper.

On Wed, Jun 15, 2016 at 11:25 PM, William Gray notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-06-16 03:28] wrgr commented on #53
folding this into single will issue for embetterment

[2016-06-16 03:28] #53 closed

[2016-06-16 03:34] wrgr commented on #59
@jovo - updated.  upshot is my inputs for others, cs2 cleanup, which was the gnarliest remaining thing this week, and cs1 next week.

[2016-06-16 03:36] wrgr commented on #64
@kunallillaney:  reproducibility code currently lives here `nddocs/ndpaper2016`

@alexbaden and @MrAE may revise this tomorrow (with my blessing, if that means anything).  So goes in nddocs now, but I'm guessing we migrate to the paper repo as originally intended.  Stand by for the hackathon tomorrow.

[2016-06-16 10:14] jovo commented on #64
@willgray can you provide an actual link.  i don't know what that means. thanks.

[2016-06-16 11:04] jovo opened #66 "hyperref doesn't work"
needs to be fixed prior to submission, but not sooner.

[2016-06-16 13:06] wrgr commented on #64
https://github.com/neurodata/nddocs/tree/gh-pages/ndpaper2016

[2016-06-16 13:50] alexbaden commented on #64
I'm fully briefed. We will handle at lunch.
On Thu, Jun 16, 2016 at 09:10 William Gray notifications@github.com wrote:

[2016-06-16 17:12] alexbaden commented on #64
the reproducibility webpage for store (along with all other pages) now lives here: https://github.com/neurodata/ndpaper/tree/gh-pages

see `store.md`

All pages were migrated from nddocs to the ndpaper repo. The folder in nddocs still exists, we'll keep it around for awhile until we're sure everything is moved.

[2016-06-16 18:16] alexbaden commented on #62
Not too hard. A few hours at most. But, we would lose the ability to auto-generate that page like we do now.

[2016-06-16 18:52] alexbaden commented on #61
- [x] revise fig0 caption, channels --> servers, delete footnote
- [x] explain GV not using 0 cuboids in table 1 and table 2 caption
- [x] table 2: ramon, hand, machine

[2016-06-16 19:19] alexbaden opened #67 "generate reproducibility for clarity and histogram stuff"
Since this stuff is post-submission, the milestone should be post submission as well.

[2016-06-16 20:22] alexbaden commented on #61
I rewrote histogram (2.1.7 microservices), 2.2.1 (ndviz), 2.2.2 (histogram explorer), and 2.2.3 (ndviz annotations) to be more in line with OCAR.

[2016-06-16 20:23] jovo commented on #67
:ok_hand:

On Thu, Jun 16, 2016 at 3:19 PM, Alex Baden notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-06-16 20:26] jovo commented on #62
we can manually update it monthly as required.
post submission task.

On Thu, Jun 16, 2016 at 2:16 PM, Alex Baden notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-06-16 20:27] jovo opened #68 "organize post submission tasks"
@willgray please create a milestone for post-submission, and tag appropriate issues.
i'm thinking july 31 might be a good target?

[2016-06-16 21:36] wrgr commented on #68
done

[2016-06-16 21:36] #68 closed

[2016-06-16 21:42] jovo commented on #68
🏈

[2016-06-16 22:40] jovo commented on #66
we want to make life as easy as possible for reviewers, so we _always_ submit the easiest possible version to read, and possibly also the one the journal requires.  this means _with_ hyperrefs.
but, it can be the last thing we do prior to submission.

[2016-06-17 10:41] jovo commented on #61
@alexbaden this is great! in general, we want the last sentence of every figure/table caption to be the take home message.  eg, "Other counts are approximate" is not that. i'll make a new issue to fix all figure captions.

[2016-06-17 10:41] #61 closed

[2016-06-17 10:44] jovo opened #69 "figure/table captions"
1. sentence 1: what is this figure showing
2. sentence 2-n-1: details, including defining all acronyms used in legend, table
3. sentence n: take home message, eg, "ND is way better than everything else in regards to X."
- [x] fig 1 👌
- [ ] fig 2
- [x] fig 3 👌
- [x] fig 4
- [ ] fig 5
- [x] fig 6
- [x] table 1 👌
- [x] table 2 👌

[2016-06-17 10:44] jovo commented on #67
i think you can put reproducability stuff for this in the same place as the others, it will just be a work in progress (maybe denote that explicitly).

please do keep track carefully of timing, because we might want to include those numbers.

thanks

[2016-06-19 16:42] alexbaden commented on #69
I made a first pass at fig1, fig3, table1, and table2.

@jovo / @willgray  can you fact check the table 1 caption claim? Do we need a citation, if it's true?

[2016-06-19 18:26] jovo commented on #69
@alexbaden its true.  if somebody balks, we cite it.  i made minor modifications, in general however, it looks great.

[2016-06-20 00:43] wrgr commented on #59
This is much improved, but more to do.  Declaring success and starting a new issue!  To tell you more tomorrow.

[2016-06-20 00:43] #59 closed

[2016-06-20 00:47] willgray opened #70 "Case Study 2 Complete"
Case study 2 is complete for initial submission.

Will continue to enumerate as we go:
- [ ] Reproducibility page for CS2
- [x] Explain/document/code for pipeline end to end (csv file and code in ndpaper
- [x] New figure showing maximum projections and spatial plot
- [x] Initial version of non-uniform stats
- [x] Rewrite text so that it matches these results
- [x] Add a bit of distributed computin

[2016-06-20 00:48] wrgr commented on #66
This was O(1 minute).  Done.

[2016-06-20 00:48] #66 closed

[2016-06-20 20:13] willgray opened #71 "Case 1: Neurocartography"
### DoD for Case Study 1

- [ ] fix graphml files
- [x] make a table of results (fixing table 3 and renaming to neurocartography results)
- [x] fix text accordingly

[2016-06-20 20:13] willgray opened #72 "followup case study actions"
### for later
- [ ] Peter's rule
- [ ] make vesicle and gala annos public if possible
- [ ] check for classifier bias (separate issue)
- [ ] clean up neurocartography jupyter notebooks
- [ ] fix graphml files (need to embed metadata in node attributes using networkx for touch graphs - broken at the moment).  Vanilla graph is working as expected.

[2016-06-23 00:47] wrgr commented on #70
Working through the data analysis and integrity checks.  Uncovered some biased classifier results in layer 1 - solving with outlier rejection and an improved masking strategy.

[2016-06-25 16:48] willgray opened #73 "Fix up figure 4 in reproducible environment"
I mocked up a new draft in lucidchart that's much cleaner and easier to read.  @MrAE - can you prettify and convert to a reproducible version like the other figures?

[2016-06-25 17:21] jovo commented on #73
Link?

@mrae - let's discuss when you return.

On Saturday, June 25, 2016, William Gray notifications@github.com wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-06-25 17:28] wrgr commented on #73
In the paper...and below.  This better shows the 2d correction (full slice), removes spurrious pictures, and better uses the page to make everything bigger and clearer.

Hoping this is a pretty quick update.  I did this as part of the scrub through the analysis section.  Not perfect, but I think much better.

![analyze-draft-fig](https://cloud.githubusercontent.com/assets/884780/16358128/79579846-

[2016-06-25 17:42] wrgr commented on #73
old version, for reference!

![image](https://cloud.githubusercontent.com/assets/884780/16358190/aa7a7b1c-3ada-11e6-8efb-24cf9fa00b89.png)

[2016-06-26 03:40] MrAE commented on #73
I ran a quick rough of the layout without labels for now.

[2016-06-26 15:26] jovo commented on #73
@wilgray - lucidchart link please

On Sat, Jun 25, 2016 at 1:28 PM, William Gray notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-06-26 18:48] wrgr commented on #73
see if this works - it's our regular lucidchart neurodata paper incubator project - https://www.lucidchart.com/documents/edit/073fd4e1-2ce5-401b-bf92-480d69111ad6/1

Presently entitled:  fig4 - analyze wrgr

[2016-06-26 18:55] jovo commented on #73
cool, for fig2_explore, i would put the "d" back, it is its own panel.

for fig4, i would go all horizontal, ie, top row "before", and bottom row
"after".
i don't find the "schematic" helpful in figure form at all, it is a simple
linear pseudocode.
if it is meant to be a LONI thingy, i'd try to put in a better LONI image.

NB: this is all post tuesday, text, case studies, etc., they are all
suffic

[2016-06-26 19:21] wrgr commented on #73
yah - thanks.  I did this while fixing captions per git issue, but ignoring this issue until after other things are done.  :)

[2016-06-27 23:55] wrgr commented on #70
Done!  And ready for review.  :)  Actions should go in a followup issue, to be addressed week of July 5th.  @jovo @j6k4m8

w00t

[2016-06-27 23:55] #70 closed

[2016-06-28 00:24] wrgr commented on #70
start here...everything is intergrated - reproducibility page has pointers to all the things:  https://github.com/neurodata/ndpaper/blob/gh-pages/spatialsynapses.md

[2016-06-28 02:15] jovo commented on #70
amazeballs!!
ndpaper in overleaf is updated presumably, in addition to the gh-pages?

On Mon, Jun 27, 2016 at 8:24 PM, William Gray notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-06-28 02:50] wrgr commented on #70
yessir!  case study 2 is done (for the moment!)

[2016-06-28 19:03] wrgr commented on #71
this is done for now.  all notebooks rerun and summary stats gathered.

[2016-06-28 19:03] #71 closed

[2016-06-28 19:17] jovo commented on #71
fix graphml files?

[2016-06-28 19:20] wrgr commented on #71
yea - moved to a new followup issue (https://github.com/neurodata/ndpaper/issues/72).  not sure what's wrong and internet is too terrible to generate atm.  but text and table are updated.

[2016-06-28 20:13] wrgr commented on #72
way too annoying.  I fixed it!

[2016-07-05 00:21] jovo opened #74 "what are our use cases?"
### use cases

### store use cases
1. write volumes off microscope
2. read volumes for ML
3. write annotations

### explore use cases
4. visualize image tiles
4. visualize volumetric annotations

### analyze use cases
5. volume recon
6. 2D histogram correct
7. 3D histogram correct
8. object detect

### model use cases
9. anything bobby did
10. 3D point process model of synapse locations

[2016-07-05 01:08] jovo opened #75 "what are our design goals?"
- [ ] obviate the need to download data for any of the above use cases
- [ ] ensure that I/O is NOT the computational bottleneck
- [ ] make using our ecosystem easier than NOT using our ecosystem for above use cases.

is that right?
did we do that?
if not, what did we do?

[2016-07-05 01:44] jovo opened #76 "jovo feedback"
make a draft that you would be ok with putting on arxiv. below are more details

- [x] make it true. reading through the abstract, intro, etc., i notice a bunch of things that *could* have been true, but are not.
- [x] we have 4 things: store, explore, analyze, model, make sure we are consistent throughout the text.
- [x] i updated fig0 in your lucidchart, better?
- [x] make sure each paragraph ac

[2016-07-11 11:07] wrgr commented on #76
This is largely done, but continuing to make improvements through end of day from an "arxiv worthy" perspective.  Was lots to clean up...  :)

Ready to discuss in meetings though!

[2016-07-11 11:09] jovo commented on #76
great, meaning i'll see you in an hour?

On Mon, Jul 11, 2016 at 7:07 AM, William Gray notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-07-11 11:12] wrgr commented on #74
Ok, after lots of reflection and cleaning up the draft I think it's most clear to  structure as follows:
- backend centric stuff in store (this is all db stuff, storage, novel read/write algs, etc.)
- explore is ok as is
- analyze contains all the stuff it has now, but with the addition of restful endpoints and ndio - I think it's much cleaner and also  most useful for explaining the new paradigm

[2016-07-11 13:44] wrgr opened #77 "paper updates"
- [x] we don't mention all the store usecases, in particular, public_tokens, and info, shouldn't we? if so, where?
- [x] citations: make sure we cite all relevant background stuff, including CATMAID, ilastik, DVID if it exists, Keller Block Storage, Thunder.
- [x] ensure all claims are actually claims
- [x] add restful section to store
- [x] add paragraph describing restful interface to ndio
- [x]

[2016-07-11 13:50] jovo commented on #77
👌

[2016-07-11 13:50] #76 closed

[2016-07-24 18:36] wrgr commented on #77
I think these are pretty much done for now, except for the updates to the website.  Will do those shortly.

We should chat a bit about these but solid draft in place.

[2016-07-25 14:19] gkiar opened #78 "update schematic"
Fig 0 schematic has been updated, add to paper in next update? :)

[2016-07-25 14:20] wrgr commented on #78
where?  send a link.  If you have a png easiest but whatever.

[2016-07-25 14:21] gkiar commented on #78
I'll send you a link to the lucidchart momentarily! Making a few more minor adjustments

[2016-07-25 14:53] jovo commented on #78
I'm also playing.
Give us some time to settle.

On Monday, July 25, 2016, Greg Kiar notifications@github.com wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-07-25 15:00] wrgr commented on #78
lovely.  me too!

i like the idea of connecting to things the world understands.  so in particular:  we have a service (ndstore).  We also have a bunch of apps, which are accessible from our FREE APACHE 2.0 app stores, some are built for hpc (cluster computing), some run in a browser (like a plugin), some run locally (app store), or mobile (app store).  All communicate back to our service/datastor

[2016-07-25 18:24] jovo commented on #78
i like @gkiar version more than mine.
but, one thing i learned recently about making figures:
reduce cognitive load as much as possible.

currently, we require people to remember color/icon to understand which hardware different things run on.
maybe we should put the hardware name inside the corresponding box, to eliminate that load?

[2016-07-26 13:31] gkiar commented on #78
That's an interesting idea. I'll play with it when I've got a moment and send an update then.

[2016-07-27 01:09] wrgr commented on #77
Done!!

[2016-07-27 01:09] #77 closed

[2016-07-27 02:44] jovo commented on #77
w00t

On Tue, Jul 26, 2016 at 9:09 PM, William Gray Roncal <
notifications@github.com> wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-07-27 13:34] wrgr opened #79 "Render image volumes for bias investigation"
Render N volumes with low density and N with high density for human assessment to check for bias.
Will human label (without detections, but with masks) as high or low density in future weeks across ~200 volumes)

[2016-07-27 17:15] jovo commented on #79
:ok_hand:

On Wed, Jul 27, 2016 at 9:34 AM, William Gray Roncal <
notifications@github.com> wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-07-29 06:23] jovo opened #80 "minor revisions"
- [x] make sure each paragraph/subsection actually cites its corresponding figure panel, and states the "take home message"
- [x] make sure to cite figure panels consistently
- [x] add a "totals" row to table 1

[2016-07-29 13:42] wrgr commented on #80
oh - thanks for these - if you get a second, point me to one you like and one you don't?  I thought we were already in good shape here.  Otherwise will figure it out.

[2016-07-29 23:23] jovo commented on #80
one what?

[2016-07-29 23:34] wrgr commented on #80
one reference you like and one you don't.  I thought I had squashed all these bugs - so maybe show me more what isn't gruntling you?

[2016-07-29 23:36] jovo commented on #80
oh, reference,  some are literally "fig:blah-blah", ie, not even \ref{ } at all.
some use \ref{blah}(A), others \ref{blah}a, others bold, etc.
and sometimes, no explicit mention of the figure at all!

[2016-07-29 23:37] wrgr commented on #80
ewww....ok.  on it.

[2016-08-03 03:03] wrgr commented on #80
Believe this is fixed - there are a ton of these - if I missed any feel free to reopen!

[2016-08-03 03:03] #80 closed

[2016-08-03 03:05] wrgr commented on #55
@gkiar - this is done?

[2016-08-03 15:17] gkiar commented on #55
Yes, actually the entire KKI2009 dti dataset, with the token "KKI2009dti"

[2016-08-03 15:33] wrgr commented on #55
if you don't mind - send me the info and we'll stick in the table for the ndpaper?

I need the stuff for Table 1 (image data).  I can be more specific or draft if you don't have time.

[2016-08-04 10:10] wrgr commented on #79
Almost there on this - turned out to be hard.

I have gifs rendering for arbitrary clips and numpy arrays - but having trouble with rendering with overlays.  Think I've found a good way around this and a backup plan just in case.

Estimated completion:  Friday 8/5.

[2016-08-04 10:15] wrgr commented on #55
[code]

@alexbaden

Double check the above and please fill out missing info.  Note GV = GB \* bit depth and these are measured in GB, so for MR an approximate guess is ok.

http://openconnecto.me/ocp/ca/KKI2009dti/info/

[2016-08-04 12:29] jovo commented on #79
ok

On Thu, Aug 4, 2016 at 6:10 AM, William Gray Roncal <
notifications@github.com> wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-08-04 13:51] alexbaden commented on #55
I'm going to have to script it. Give me 36 hours.

[2016-08-05 03:40] alexbaden commented on #55
[code]

That what you need?

@gkiar if you can spot check this at some point, that would be great! No rush.

[2016-08-05 12:24] wrgr commented on #55
reference paper is:  Bennett. A. Landman, Alan J. Huang, Aliya Gifford, Deepti S. Vikram, Issel Anne L. Lim, Jonathan A.D. Farrell, John A. Bogovic, Jun Hua, Min Chen, Samson Jarso, Seth A. Smith, Suresh Joel, Susumu Mori, James J. Pekar, Peter B. Barker, Jerry L. Prince, and Peter C.M. van Zijl. “Multi-Parametric Neuroimaging Reproducibility: A 3T Resource Study”, NeuroImage. (2010) NIHMS/PMC:252

[2016-08-05 12:52] wrgr commented on #55
Oh - and thanks - @alexbaden  -  you beat your estimate by a factor of ~3x!

[2016-08-08 01:40] wrgr commented on #79
can now make these volumes, so closing this issue.  we need to talk through exactly how many and how to blind.  i will proceed with my best idea if we don't get a chance to chat.

[2016-08-08 01:40] #79 closed

[2016-08-08 02:25] jovo commented on #79
i thought we said 100 of each?
though open to other suggestions.

On Sun, Aug 7, 2016 at 9:40 PM, William Gray Roncal <
notifications@github.com> wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-08-08 03:09] wrgr commented on #79
just want to be explicit:
- 100 volumes of each   mean +/- 1 stddev
- do in a way that presentation is blind to will, which might mean someone else generates labels or will figures out how to do where he can't see values (ever).
- will creates a 200x1 vector of high/low values (binary)
- joshua or someone evaluates and sees how good will is at this
- we decide how to proceed

yah?

[2016-08-08 03:33] jovo commented on #79
good start.  WWW: who, what, by _when_.  we got who & what.  by when though?

On Sun, Aug 7, 2016 at 11:09 PM, William Gray Roncal <
notifications@github.com> wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-08-17 18:57] wrgr opened #81 "validate proof-of-concept bias assessment run"
- [x] Inspect sample run and verify that an independent evaluator can compute accuracy?
- [x] Determine how many truth samples are sufficient for next run (100 or 200 total?)
- [x] Greenlight full scale truthing exercise

Code is here:  https://github.com/neurodata/ndpaper/tree/gh-pages/spatialsynapses
Read:  https://github.com/neurodata/ndpaper/blob/gh-pages/spatialsynapses/bias_validation.md
Run

[2016-08-17 19:19] jovo commented on #81
do you have the estimated # of synapses for each of those 10 data blocks?
i don't have a sense of how hard it is, so i am a bit lost on what a reasonable number of blocks is...

[2016-08-17 19:25] wrgr commented on #81
I see.  I don't - this is a qualitative assessment.

nominally, these are 5x5x5 micron blocks, u = 1.56, std = 0.32.  And we are evaluating density estimates between these values, corresponding to this number of synapses (roughly, disregarding masking).  So far with these bounds I've been able to distinguish between the two, but it's challenging.

mean - 2_stdev and mean - 1_stdev:  115-155 synaps

[2016-08-17 19:28] jovo commented on #81
oh sorry, i meant the estimated by your algorithm, not manually.
i want to compare you qualitative judgement with the algorithm,
rather than merely you saying that you got them all right.
does that make more sense?

[2016-08-17 19:31] wrgr commented on #81
I think my answer above answers this, right?  We select blocks based on densities computed from VESICLE classification...

These densities can be straightforwardly mapped to an estimated number of synapses based on block size (disregarding masking).

I'm not sure what you are asking I guess.

[2016-08-17 22:22] wrgr commented on #81
For now should I proceed truthing these 100 blocks?  O(1 full day of work), so prefer not to do if it's premature, but eager to get this result knocked out.

[2016-08-17 22:24] jovo commented on #81
i think so.

On Wed, Aug 17, 2016 at 6:22 PM, William Gray Roncal <
notifications@github.com> wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-08-18 02:15] jovo commented on #81
ps - the answer to my question is a 3 column 10 row csv file, with:

| id | # synapses estimated by alg | whether willgray says is high or low |
| --- | --- | --- |
| blah | blah | blah |
| blah | blah | blah |

[2016-08-22 12:14] wrgr commented on #81
i can get something that is pretty close - I recorded the synapse densities but not the counts.  This can be approximately mapped to count by multiplying by volume size (disregards masking).  So will do that for now!

(i don't cleanly have column 2, and at this point can't regenerate without starting over.)

[2016-08-22 12:21] jovo commented on #81
ok, no clean col 2, i think no need for table. was mostly asking if i _could_ have that.

[2016-08-22 12:21] jovo commented on #81
is this "Inspect sample run and verify that an independent evaluator can compute accuracy?"
just me looking at the movies and seeing how i feel?
or doing something else (eg, running code)

[2016-08-22 12:37] wrgr commented on #81
let's chat about it!  I wanted you to look through a couple of the movies and see if you think the task is reasonable, and at a minimum run the sample code so that the current effort is useful.

Truthing has turned out to be very time intensive, so fingers crossed that this latest run of 100 samples is good!

[2016-08-22 12:40] jovo commented on #81
ok, which sample code? there are lots of codes...

[2016-08-22 12:54] wrgr commented on #81
see top of issue.  :)  there's a README with a line of code to run.

[2016-08-22 12:56] jovo commented on #81
ah, i see, i failed to understand that the readme provided _me_ instructions.

[2016-08-22 12:58] wrgr commented on #81
oh - i see.  this whole issue was yours, so i wasn't sure what we were waiting on.  I already did mine to set all this up!

[2016-08-22 13:02] jovo commented on #81
no worries, ffr, if there was a tick mark that said "run this code and tell me....", i would have known what you meant more.
no worries, i will do it asap.

[2016-08-22 13:08] wrgr commented on #81
it's much appreciated!  #notstoppingscience

[2016-08-22 18:07] randalburns opened #82 "RB to provide markings on current version of NDPaper"

[2016-08-23 01:31] jovo commented on #81
i don't know what to do.
there is a command at the bottom of the readme file,
presumably i need to pip install something? or download some code?
can you provide more clear/explicit guidance?

[2016-08-23 01:35] wrgr commented on #81
clone the repo.  run the code, which is in the spatialsynapses folder.  If this is still unclear, I can do better if you tell me how.

[2016-08-23 02:14] jovo commented on #81
[code]

[2016-08-23 02:18] wrgr commented on #81
can you `ls` for me?  I see the file when I try those steps.

[2016-08-23 02:23] jovo commented on #81
nothing was there.
i was in master, not gh-pages.
so, i switched and got this

[code]

On Mon, Aug 22, 2016 at 10:18 PM, William Gray Roncal <
notifications@github.com> wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-08-23 02:25] wrgr commented on #81
Hey - that's sweet!  Awesome sauce.

[2016-08-23 02:26] wrgr commented on #81
I think we agreed to kill master branch (it doesn't exist in the github remote).  gh-pages is default.  If you prefer a different org, complain here or open an issue and I'll fix us!

[2016-08-23 02:28] jovo commented on #81
i thought so too, but it is still there.
no action necessary at this time.

On Mon, Aug 22, 2016 at 10:26 PM, William Gray Roncal <
notifications@github.com> wrote:

##

the glass is all full:  half water, half air.
neurodata.io, jovo calendar
https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York

[2016-08-26 15:16] #81 closed

[2016-08-29 17:44] randalburns commented on #82
Discussing in Monday meeting.

RB conclusion: we must eliminate all conditional subjunctive language in this paper.

Gotcha is the scientific driver.  For synapses, even if we ran everything right.  We would have problem with QC/QA absent an expert.  We have an issue with scientific credibility.

Punt on Bock.

Setup a CLARITY objective for 3rd Monday in Sep.

[2016-08-29 17:44] #82 closed

[2016-11-18 00:03] #69 closed

[2016-11-24 14:33] jovo opened #83 "path to publication"
each task expected to take 1 week

- [ ] update intro to reflect current cloud status
- [ ] clean up text in each of the main sections
- [ ] replace ingest panel with new parallelized scheme
- [ ] submit for internal review
- [ ] revise on the basis of internal review
- [ ] post to arxiv and submit

goal to submit NLT 12/31/16.

[2016-12-11 04:51] jovo opened #84 "hildebrand not in table 1"

[2016-12-19 03:52] jovo opened #85 "revise to reflect our current status"